<!--The content below is only a placeholder and can be replaced.-->
<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
        </div>
    </nav>
     <div class='container'>
     <nav>
      <button class="btn btn-primary"><a routerLink="list" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
true}" style="color:white">Business List</a></button>

      <button class="btn btn-primary"><a routerLink="add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" style="color:white">Business Add</a></button>
     </nav>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

</div>

